<script type="text/javascript">
    RED.nodes.registerType('Event in',{
        category: 'input',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            icon_name: {value:"icon_124_contact.png"},
            url: {value:'https://app14.gunnebocloud.com/GunneboServices/', required:true},
            auth: {value: "", type: "auth-config"},
            repeat_interval: {value: '5', required:true, validate:RED.validators.regex(/^[1-9]\d*$/)},
            count: {value:"5", required:true, validate:RED.validators.number()}
        },
        inputs:0,
        outputs:1,
        icon:  function() {
            return this.icon_name || "icon_124_contact.png";
        },
        label: function() {
            return this.name || "Event";
        },

        oneditprepare: function () {
            $("#node-input-icon_name").val(this.icon_name);

            $("#node-input-repeat_interval").spinner({min:1});

            $( "#node-input-count" ).spinner({min:1});

        }
    });
</script>

<script type="text/x-red" data-template-name="Event in">

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div  class="form-row">
        <label for="node-input-icon_name"><i class="icon-tag"></i> Node Icon</label>
        <select type="text" id="node-input-icon_name" placeholder="icon_name">
			<option value="icon_001_bank.png">bank</option>
<option value="icon_002_nationalandcentralbank.png">national and central bank</option>
<option value="icon_003_retailbank.png">retail bank</option>
<option value="icon_004_financialadmin.png">financial admin</option>
<option value="icon_005_retail.png">retail</option>
<option value="icon_006_food.png">food</option>
<option value="icon_007_petrol.png">petrol</option>
<option value="icon_008_fashion.png">fashion</option>
<option value="icon_009_restaurants.png">restaurants</option>
<option value="icon_010_consumerelectronics.png">consumer electronics</option>
<option value="icon_011_luxury.png">luxury</option>
<option value="icon_012_transportation.png">transportation</option>
<option value="icon_013_pharmacy.png">pharmacy</option>
<option value="icon_014_mallconcepts.png">mall concepts</option>
<option value="icon_015_cit.png">cit</option>
<option value="icon_016_bankcit.png">bank cit</option>
<option value="icon_017_retailcit.png">retail cit</option>
<option value="icon_018_cashcenters.png">cash centers</option>
<option value="icon_019_publicadmin.png">public admin</option>
<option value="icon_020_headquarters.png">headquarters</option>
<option value="icon_021_officialbuildings.png">official buildings</option>
<option value="icon_022_hospitals.png">hospitals</option>
<option value="icon_023_schoolsuniversities.png">schools/universities</option>
<option value="icon_024_embassies.png">embassies</option>
<option value="icon_025_highrisksites.png">high risk sites</option>
<option value="icon_026_nuclearandenergy.png">nuclear and energy</option>
<option value="icon_027_chemicals.png">chemicals</option>
<option value="icon_028_military.png">military</option>
<option value="icon_029_factories.png">factories</option>
<option value="icon_030_harbours.png">harbours</option>
<option value="icon_031_airportandmasstransit.png">airport and mass transit</option>
<option value="icon_032_airports.png">airports</option>
<option value="icon_033_metro.png">metro</option>
<option value="icon_034_bussnetworks.png">bus networks</option>
<option value="icon_035_stadias.png">stadions</option>
<option value="icon_036_allsegments.png">all segments</option>
<option value="icon_037_cashhandling.png">cash handling</option>
<option value="icon_038_cashdeposit.png">cash deposit</option>
<option value="icon_039_cashdrawerdeposit.png">cash drawer deposit</option>
<option value="icon_040_cashtransfer.png">cash transfer</option>
<option value="icon_041_depositbags.png">deposit bags</option>
<option value="icon_042_notecounting.png">note counting</option>
<option value="icon_043_cashrecycling.png">cash recycling</option>
<option value="icon_044_closedcashhandling.png">closed cash handling</option>
<option value="icon_045_coindispenser.png">coin dispenser</option>
<option value="icon_046_transactionwindow.png">transaction window</option>
<option value="icon_047_electronicsecurity.png">electronic security</option>
<option value="icon_048_cctv.png">cctv</option>
<option value="icon_049_surveillancecameras.png">surveillance cameras</option>
<option value="icon_050_surveillancerecorder.png">surveillance recorder</option>
<option value="icon_051_electroniclocks.png">electronic locks</option>
<option value="icon_052_integratedsecurity.png">integrated security</option>
<option value="icon_053_accesscontrolsystems.png">access control systems</option>
<option value="icon_054_intrusiondetectionsystems.png">intrusion detection systems</option>
<option value="icon_055_entrancesecurity.png">entrance security</option>
<option value="icon_056_airportsecuritygates.png">airport security gates</option>
<option value="icon_057_antireturngates.png">antireturn gates</option>
<option value="icon_058_boardinggates.png">boarding gates</option>
<option value="icon_059_immigrationgates.png">immigration gates</option>
<option value="icon_060_presecuritygates.png">presecurity gates</option>
<option value="icon_061_electronicarticlesurveillance.png">electronic article surveillance</option>
<option value="icon_062_interlockingdoor.png">interlocking door</option>
<option value="icon_063_revolvingdoor.png">revolving door</option>
<option value="icon_064_securitydoors.png">security doors</option>
<option value="icon_065_automatedslidingdoors.png">automated sliding doors</option>
<option value="icon_066_blastdoors.png">blast doors</option>
<option value="icon_067_bulletproofdoors.png">bulletproof doors</option>
<option value="icon_068_fireresitantdoors.png">fire resistant doors</option>
<option value="icon_069_ramraidattackdoors.png">ramraid attack doors</option>
<option value="icon_070_reinforceddoor.png">reinforced door</option>
<option value="icon_071_tunneldoors.png">tunnel doors</option>
<option value="icon_072_speedgates.png">speed gates</option>
<option value="icon_073_ticketgates.png">ticket gates</option>
<option value="icon_074_turnstiles.png">turnstiles</option>
<option value="icon_075_fullheightturnstiles.png">full height turnstiles</option>
<option value="icon_076_halfheightturnstiles.png">half height turnstiles</option>
<option value="icon_077_shopturnstiles.png">shop turnstiles</option>
<option value="icon_078_tripodturnstiles.png">tripod turnstiles</option>
<option value="icon_079_safesandvaults.png">safes and vaults</option>
<option value="icon_080_basicsafes.png">basic safes</option>
<option value="icon_081_depositsafes.png">deposit safes</option>
<option value="icon_082_firesafes.png">fire safes</option>
<option value="icon_083_datasafes.png">data safes</option>
<option value="icon_084_documentsafes.png">document safes</option>
<option value="icon_085_fireprooffilingcabinets.png">fireproof filing cabinets</option>
<option value="icon_086_highsecuritysafes.png">high security safes</option>
<option value="icon_087_mediumsecuritysafes.png">medium security safes</option>
<option value="icon_088_modularsafes.png">modular safes</option>
<option value="icon_089_modularvaults.png">modular vaults</option>
<option value="icon_090_indoor.png">indoor</option>
<option value="icon_091_outdoor.png">outdoor</option>
<option value="icon_092_safedepositlockers.png">safe deposit lockers</option>
<option value="icon_093_accesscontrolsystems.png">access control systems</option>
<option value="icon_094_automated.png">automated</option>
<option value="icon_095_managementsoftware.png">management software</option>
<option value="icon_096_mechanical.png">mechanical</option>
<option value="icon_097_storagecabinets.png">storage cabinets</option>
<option value="icon_098_vaults.png">vaults</option>
<option value="icon_099_vaultdoors.png">vault doors</option>
<option value="icon_100_vaultrooms.png">vault rooms</option>
<option value="icon_101_securityservices.png">security services</option>
<option value="icon_102_securitylifecyclemanagement.png">security lifecycle management</option>
<option value="icon_103_securitymaintenance.png">security maintenance</option>
<option value="icon_104_securitymonitoring.png">security monitoring</option>
<option value="icon_105_grade.png">grade</option>
<option value="icon_106_locking.png">locking</option>
<option value="icon_107_accessories.png">accessories</option>
<option value="icon_108_depositspeed.png">deposit speed</option>
<option value="icon_109_depositmethod.png">deposit method</option>
<option value="icon_110_capacity.png">capacity</option>
<option value="icon_111_resistance.png">resistance</option>
<option value="icon_112_leafoptions.png">leaf options</option>
<option value="icon_113_doorinfill.png">door infill</option>
<option value="icon_114_flowrate.png">flow rate</option>
<option value="icon_115_detection.png">detection</option>
<option value="icon_116_identificationmethod.png">identification method</option>
<option value="icon_117_standardfrequency.png">standard frequency</option>
<option value="icon_118_detectionrange.png">detection range</option>
<option value="icon_119_certification.png">certification</option>
<option value="icon_120_pdf.png">pdf</option>
<option value="icon_121_cad.png">cad</option>
<option value="icon_122_images.png">images</option>
<option value="icon_123_zip.png">zip</option>
<option value="icon_124_contact.png">contact</option>
<option value="icon_125_contactperson.png">contact person</option>
<option value="icon_126_search.png">search</option>
<option value="icon_127_arrowright.png">arrow right</option>
<option value="icon_128_arrowdown.png">arrow down</option>
<option value="icon_129_noarrow.png">no arrow</option>
<option value="icon_130_findaproduct.png">find a product</option>
<option value="icon_131_spotify.png">spotify </option>
		</select>
    </div>

    <div class="form-row">
        <label for="node-input-url"><i class="icon-tag"></i> URL</label>
        <input type="text" id="node-input-url" placeholder="url">
    </div>

    <div class="form-row">
        <label for="node-input-auth"><i class="fa fa-globe"></i> Auth</label>
        <input type="text" id="node-input-auth" placeholder="auth">
    </div>

    <div class="form-row">
        <label for="node-input-repeat_interval"><i class="fa fa-globe"></i> Interval(s)</label>
        <input id="node-input-repeat_interval" value="1">
    </div>

    <div class="form-row">
        <label for="node-input-count"><i class="fa fa-globe"></i> Count</label>
        <input type="text" id="node-input-count" style="text-align:end; width:30px !important"/>
    </div>

</script>

<script type="text/x-red" data-help-name="Event in">
    <pre></pre>
</script>

<script type="text/javascript">
    RED.nodes.registerType('Event out',{
        category: 'output',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            icon_name: {value:"icon_124_contact.png"},

            url: {value:'https://app14.gunnebocloud.com/GunneboServices/', required:true},
            auth: {value: "", type: "auth-config"},

            data_source: {value: "properties"},
            event_category: {value: "Generic", required:true},
            event_type: {value:'', required:true},
            event_params: {value:[]}
        },
        inputs:1,
        outputs:0,
        icon:  function() {
            return this.icon_name || "icon_124_contact.png";
        },
        label: function() {
            return this.name || "Event";
        },
		
		oneditprepare: function() {
            var node = this;

            $("#node-input-icon_name").val(this.icon_name);

            this.resize = function() {
//                var rows = $("#dialog-form>div:not(.node-input-target-row)");
//                var height = $("#dialog-form").height();
//                for (var i=0;i<rows.size();i++) {
//                    height -= $(rows[i]).outerHeight(true);
//                }
//                var editorRow = $("#dialog-form>div.node-input-target-row");
//                height -= (parseInt(editorRow.css("marginTop"))+parseInt(editorRow.css("marginBottom")));
//                $("#node-input-catch-target-container-div").css("height",height+"px");

                var rows = $("#dialog-form>div:not(.node-input-rule-container-row)");
                var height = $("#dialog-form").height(); //var height = size.height;
                for (var i=0;i<rows.size();i++) {
                    height -= $(rows[i]).outerHeight(true);
                }
                var editorRow = $("#dialog-form>div.node-input-rule-container-row");
                height -= (parseInt(editorRow.css("marginTop"))+parseInt(editorRow.css("marginBottom")));
                $("#node-input-rule-container-div").css("height",height+"px");
            }

            function generateRule(i,param) {
                var container = $('<li/>',{style:"background: #fff; margin:0; padding:8px 0px; border-bottom: 1px solid #ccc;"});
                var row = $('<div/>').appendTo(container);
                var row2 = $('<div/>',{style:"padding-top: 5px; padding-left: 175px;"}).appendTo(container);
                var row3 = $('<div/>',{style:"padding-top: 5px; padding-left: 120px;"}).appendTo(container);

                $('<i style="color: #eee; cursor: move;" class="node-input-rule-handle fa fa-bars"></i>').appendTo(row);

				var nameField = $('<input/>',{class:"node-input-rule-name",type:"text",style:"margin-left: 5px; width: 130px;"}).appendTo(row);
                var idField = $('<input/>',{class:"node-input-rule-id",type:"number",style:"margin-left: 5px; width: 80px;"}).appendTo(row);
                var valueField = $('<input/>',{class:"node-input-rule-value",type:"text",style:"margin-left: 5px; width: 130px;"}).appendTo(row).typedInput({default:'str',types:['str','num']});
                
                var finalspan = $('<span/>',{style:"float: right;margin-right: 10px;"}).appendTo(row);
                
                var deleteButton = $('<a/>',{href:"#",class:"editor-button editor-button-small", style:"margin-top: 7px; margin-left: 5px;"}).appendTo(finalspan);
                $('<i/>',{class:"fa fa-remove"}).appendTo(deleteButton);

                deleteButton.click(function() {
                    container.css({"background":"#fee"});
                    container.fadeOut(300, function() {
                        $(this).remove();
                        $("#node-input-rule-container").children().each(function(i) {
                            $(this).find(".node-input-rule-index").html(i+1);
                        });

                    });
                });

                $("#node-input-rule-container").append(container);

                nameField.val(param.Name);
                idField.val(param.Id);
                valueField.typedInput('value',param.Value);
                valueField.typedInput('type',param.vt||'str');
            }

            $("#node-input-add-rule").click(function() {
                generateRule($("#node-input-rule-container").children().length+1,{Name:'',Value:'', Id:0, vt:'str'});
                $("#node-input-rule-container-div").scrollTop($("#node-input-rule-container-div").get(0).scrollHeight);
            });

            for (var i=0; i < node.event_params.length; i++) {
               var param = node.event_params[i];
               generateRule(i+1,param);
            }

            $( "#node-input-rule-container" ).sortable({
                axis: "y",
                update: function( event, ui ) {
                    var event_params = $("#node-input-rule-container").children();
                    event_params.each(function(i) {
                        $(this).find(".node-input-rule-index").html(i+1);
                    });
                },
                handle:".node-input-rule-handle",
                cursor: "move"
            });
            $( "#node-input-rule-container .node-input-rule-handle" ).disableSelection();

            $("#node-input_event_data_source").change(function(e) {
                var source = $(this).children("option:selected").val();
                if (source === "properties") {
                    $("#node-input-parameter-block").show();
                } else {
                    $("#node-input-parameter-block").hide();
                }
                node.resize();
            });
            if (this.data_source == "properties") {
                $("#node-input_event_data_source").val("properties");
            } else {
                $("#node-input_event_data_source").val("payload");
            }
            $("#node-input_event_data_source").change();


            var EVENTS_BY_CATEGORY = {
                'Generic': [{value: '10', name: 'Configuration'},
                    {value: '15', name: 'Execute  Script'},
                    {value: '51', name: 'Operational Mode Change'},
                    {value: '52', name: 'Reset'},
                    {value: '53', name: 'Reconciliate'},
                    {value: '301', name: 'Input Change'},
                    {value: '302', name: 'Output Change'},
                    {value: '500', name: 'Support'},
                    {value: '900', name: 'Statistics'},
                    {value: '200', name: 'Message'}],

                'Policy': [{value: '60', name: 'Policy Change'}],

                'Mode': [{value: '65', name: 'Mode Change'}],

                'Schedule': [{value: '66', name: 'Schedule Change'}],

                'DoorsGates': [{value: '1001', name: 'Entry'},
                    {value: '1002', name: 'Cancelled Entry'},
                    {value: '1004', name: 'Allow Entry'}],

                'Temperature': [{value: '1101', name: 'Temperature Change'}],

                'CashHandling': [{value: '1201', name: 'Cash Deposit'},
                    {value: '1202', name: 'Cash Withdrawal'},
                    {value: '1203', name: 'Emptying'},
                    {value: '1204', name: 'Refill'},
                    {value: '1205', name: 'Balance Update'},
                    {value: '1206', name: 'Cash Movement'}],

                'AlarmCCTV': [{value: '1301', name: 'Movement'},
                    {value: '1302', name: 'Start Recording'},
                    {value: '1303', name: 'Stop Recording'},
                    {value: '1304', name: 'Activate  Surveillance'},
                    {value: '1305', name: 'Deactivate Surveillance'},
                    {value: '1306', name: 'Retrieve Recording'},
                    {value: '1307', name: 'Take Snapshot'},
                    {value: '1308', name: 'Alarm'},
                    {value: '1309', name: 'Cancel Alarm'}],

                'Media': [{value: '2501', name: 'Start Playback'},
                    {value: '2502', name: 'Playback Started'},
                    {value: '2503', name: 'Screen Overlay'}],

                'Weather': [{value: '3001', name: 'Weather Change'}]
            };

            $("#node-input-event_category").change(function(e) {
                var source = $(this).children("option:selected").val();
                if(source) {
                    var types = EVENTS_BY_CATEGORY[source];
                    var event_type_select = document.getElementById('node-input-event_type');
                    event_type_select.options.length = 0;
                    var opt = null;
                    for(var i = 0; i < types.length; i++) {
                        opt = document.createElement("option");
                        opt.value = types[i].value;
                        opt.innerHTML = types[i].name;
                        event_type_select.appendChild(opt);
                    }
                }
            });
            $("#node-node-input-event_category").val(this.event_category);
            $("#node-node-input-event_category").change();
        },
        
		oneditsave: function() {
            var node = this;
            var source = $("#node-input_event_data_source").children("option:selected").val();
            node.data_source = source;

            var event_params = $("#node-input-rule-container").children();
            node.event_params= [];
            event_params.each(function(i) {
                var ep = $(this);
                var name = ep.find(".node-input-rule-name").val();
                var id = ep.find(".node-input-rule-id").val();
				var value = ep.find(".node-input-rule-value").typedInput('value');
                var valuetype = ep.find(".node-input-rule-value").typedInput('type');
                var p = {Name:name, Value: value, Id: id};
                node.event_params.push(p);
            });

        },
        
		oneditresize: function(size) {
            this.resize();
        }
    });
</script>

<script type="text/x-red" data-template-name="Event out">

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div  class="form-row">
        <label for="node-input-icon_name"><i class="icon-tag"></i> Node Icon</label>
        <select type="text" id="node-input-icon_name" placeholder="icon_name">
			<option value="icon_001_bank.png">bank</option>
<option value="icon_002_nationalandcentralbank.png">national and central bank</option>
<option value="icon_003_retailbank.png">retail bank</option>
<option value="icon_004_financialadmin.png">financial admin</option>
<option value="icon_005_retail.png">retail</option>
<option value="icon_006_food.png">food</option>
<option value="icon_007_petrol.png">petrol</option>
<option value="icon_008_fashion.png">fashion</option>
<option value="icon_009_restaurants.png">restaurants</option>
<option value="icon_010_consumerelectronics.png">consumer electronics</option>
<option value="icon_011_luxury.png">luxury</option>
<option value="icon_012_transportation.png">transportation</option>
<option value="icon_013_pharmacy.png">pharmacy</option>
<option value="icon_014_mallconcepts.png">mall concepts</option>
<option value="icon_015_cit.png">cit</option>
<option value="icon_016_bankcit.png">bank cit</option>
<option value="icon_017_retailcit.png">retail cit</option>
<option value="icon_018_cashcenters.png">cash centers</option>
<option value="icon_019_publicadmin.png">public admin</option>
<option value="icon_020_headquarters.png">headquarters</option>
<option value="icon_021_officialbuildings.png">official buildings</option>
<option value="icon_022_hospitals.png">hospitals</option>
<option value="icon_023_schoolsuniversities.png">schools/universities</option>
<option value="icon_024_embassies.png">embassies</option>
<option value="icon_025_highrisksites.png">high risk sites</option>
<option value="icon_026_nuclearandenergy.png">nuclear and energy</option>
<option value="icon_027_chemicals.png">chemicals</option>
<option value="icon_028_military.png">military</option>
<option value="icon_029_factories.png">factories</option>
<option value="icon_030_harbours.png">harbours</option>
<option value="icon_031_airportandmasstransit.png">airport and mass transit</option>
<option value="icon_032_airports.png">airports</option>
<option value="icon_033_metro.png">metro</option>
<option value="icon_034_bussnetworks.png">bus networks</option>
<option value="icon_035_stadias.png">stadions</option>
<option value="icon_036_allsegments.png">all segments</option>
<option value="icon_037_cashhandling.png">cash handling</option>
<option value="icon_038_cashdeposit.png">cash deposit</option>
<option value="icon_039_cashdrawerdeposit.png">cash drawer deposit</option>
<option value="icon_040_cashtransfer.png">cash transfer</option>
<option value="icon_041_depositbags.png">deposit bags</option>
<option value="icon_042_notecounting.png">note counting</option>
<option value="icon_043_cashrecycling.png">cash recycling</option>
<option value="icon_044_closedcashhandling.png">closed cash handling</option>
<option value="icon_045_coindispenser.png">coin dispenser</option>
<option value="icon_046_transactionwindow.png">transaction window</option>
<option value="icon_047_electronicsecurity.png">electronic security</option>
<option value="icon_048_cctv.png">cctv</option>
<option value="icon_049_surveillancecameras.png">surveillance cameras</option>
<option value="icon_050_surveillancerecorder.png">surveillance recorder</option>
<option value="icon_051_electroniclocks.png">electronic locks</option>
<option value="icon_052_integratedsecurity.png">integrated security</option>
<option value="icon_053_accesscontrolsystems.png">access control systems</option>
<option value="icon_054_intrusiondetectionsystems.png">intrusion detection systems</option>
<option value="icon_055_entrancesecurity.png">entrance security</option>
<option value="icon_056_airportsecuritygates.png">airport security gates</option>
<option value="icon_057_antireturngates.png">antireturn gates</option>
<option value="icon_058_boardinggates.png">boarding gates</option>
<option value="icon_059_immigrationgates.png">immigration gates</option>
<option value="icon_060_presecuritygates.png">presecurity gates</option>
<option value="icon_061_electronicarticlesurveillance.png">electronic article surveillance</option>
<option value="icon_062_interlockingdoor.png">interlocking door</option>
<option value="icon_063_revolvingdoor.png">revolving door</option>
<option value="icon_064_securitydoors.png">security doors</option>
<option value="icon_065_automatedslidingdoors.png">automated sliding doors</option>
<option value="icon_066_blastdoors.png">blast doors</option>
<option value="icon_067_bulletproofdoors.png">bulletproof doors</option>
<option value="icon_068_fireresitantdoors.png">fire resistant doors</option>
<option value="icon_069_ramraidattackdoors.png">ramraid attack doors</option>
<option value="icon_070_reinforceddoor.png">reinforced door</option>
<option value="icon_071_tunneldoors.png">tunnel doors</option>
<option value="icon_072_speedgates.png">speed gates</option>
<option value="icon_073_ticketgates.png">ticket gates</option>
<option value="icon_074_turnstiles.png">turnstiles</option>
<option value="icon_075_fullheightturnstiles.png">full height turnstiles</option>
<option value="icon_076_halfheightturnstiles.png">half height turnstiles</option>
<option value="icon_077_shopturnstiles.png">shop turnstiles</option>
<option value="icon_078_tripodturnstiles.png">tripod turnstiles</option>
<option value="icon_079_safesandvaults.png">safes and vaults</option>
<option value="icon_080_basicsafes.png">basic safes</option>
<option value="icon_081_depositsafes.png">deposit safes</option>
<option value="icon_082_firesafes.png">fire safes</option>
<option value="icon_083_datasafes.png">data safes</option>
<option value="icon_084_documentsafes.png">document safes</option>
<option value="icon_085_fireprooffilingcabinets.png">fireproof filing cabinets</option>
<option value="icon_086_highsecuritysafes.png">high security safes</option>
<option value="icon_087_mediumsecuritysafes.png">medium security safes</option>
<option value="icon_088_modularsafes.png">modular safes</option>
<option value="icon_089_modularvaults.png">modular vaults</option>
<option value="icon_090_indoor.png">indoor</option>
<option value="icon_091_outdoor.png">outdoor</option>
<option value="icon_092_safedepositlockers.png">safe deposit lockers</option>
<option value="icon_093_accesscontrolsystems.png">access control systems</option>
<option value="icon_094_automated.png">automated</option>
<option value="icon_095_managementsoftware.png">management software</option>
<option value="icon_096_mechanical.png">mechanical</option>
<option value="icon_097_storagecabinets.png">storage cabinets</option>
<option value="icon_098_vaults.png">vaults</option>
<option value="icon_099_vaultdoors.png">vault doors</option>
<option value="icon_100_vaultrooms.png">vault rooms</option>
<option value="icon_101_securityservices.png">security services</option>
<option value="icon_102_securitylifecyclemanagement.png">security lifecycle management</option>
<option value="icon_103_securitymaintenance.png">security maintenance</option>
<option value="icon_104_securitymonitoring.png">security monitoring</option>
<option value="icon_105_grade.png">grade</option>
<option value="icon_106_locking.png">locking</option>
<option value="icon_107_accessories.png">accessories</option>
<option value="icon_108_depositspeed.png">deposit speed</option>
<option value="icon_109_depositmethod.png">deposit method</option>
<option value="icon_110_capacity.png">capacity</option>
<option value="icon_111_resistance.png">resistance</option>
<option value="icon_112_leafoptions.png">leaf options</option>
<option value="icon_113_doorinfill.png">door infill</option>
<option value="icon_114_flowrate.png">flow rate</option>
<option value="icon_115_detection.png">detection</option>
<option value="icon_116_identificationmethod.png">identification method</option>
<option value="icon_117_standardfrequency.png">standard frequency</option>
<option value="icon_118_detectionrange.png">detection range</option>
<option value="icon_119_certification.png">certification</option>
<option value="icon_120_pdf.png">pdf</option>
<option value="icon_121_cad.png">cad</option>
<option value="icon_122_images.png">images</option>
<option value="icon_123_zip.png">zip</option>
<option value="icon_124_contact.png">contact</option>
<option value="icon_125_contactperson.png">contact person</option>
<option value="icon_126_search.png">search</option>
<option value="icon_127_arrowright.png">arrow right</option>
<option value="icon_128_arrowdown.png">arrow down</option>
<option value="icon_129_noarrow.png">no arrow</option>
<option value="icon_130_findaproduct.png">find a product</option>
<option value="icon_131_spotify.png">spotify </option>
		</select>
    </div>

	<div class="form-row">
        <label for="node-input-url"><i class="icon-tag"></i> URL</label>
        <input type="text" id="node-input-url" placeholder="URL">
    </div>

    <div class="form-row">
        <label for="node-input-auth"><i class="fa fa-globe"></i> Auth</label>
        <input type="text" id="node-input-auth" placeholder="auth">
    </div>

	<div class="form-row">
        <label for="node-input-event_data_source"><i class="icon-tag"></i> Event Data Source</label>
        <select type="text" id="node-input_event_data_source" placeholder="event_data_source">
			<option value="payload">from payload</option>
			<option value="properties">from properties</option>
		</select>
    </div>
    <div id="node-input-parameter-block">
    <div  class="form-row">
        <label for="node-input-event_category"><i class="icon-tag"></i> Event Category</label>
        <select type="text" id="node-input-event_category" placeholder="event_category">
			<option value="Generic">Generic</option>
			<option value="Policy">Policy</option>
			<option value="Mode">Mode</option>
			<option value="Schedule">Schedule</option>
			<option value="DoorsGates">Doors and Gates</option>
			<option value="Temperature">Temperature</option>
			<option value="CashHandling">Cash Handling</option>
			<option value="AlarmCCTV">Alarm/CCTV</option>
			<option value="Media">Media and Digital Signage</option>
			<option value="Weather">Weather</option>
		</select>
    </div>
	<div  class="form-row">
        <label for="node-input-event_type"><i class="icon-tag"></i> Event Type</label>
        <select type="text" id="node-input-event_type" placeholder="event_type">
		</select>
    </div>
	
	<div class="form-row node-input-rule-container-row" style="margin-bottom: 0px;">
        <div id="node-input-rule-container-div" style="box-sizing: border-box; border-radius: 5px; height: 200px; padding: 5px; border: 1px solid #ccc; overflow-y:scroll;">
            <ol id="node-input-rule-container" style=" list-style-type:none; margin: 0;"></ol>
        </div>
    </div>
    <div class="form-row">
        <a href="#" class="editor-button editor-button-small" id="node-input-add-rule" style="margin-top: 4px;"><i class="fa fa-plus"></i>  Parameter</a>
    </div>
    </div>
</script>

<script type="text/x-red" data-help-name="Event out">
    <p>Bla, bla, bla</p>
</script>