<script type="text/javascript">
    function validateChannelValue(v) {
        return !isNaN(v) && parseInt(v) >= -1 && parseInt(v) <= 255;
    }

    RED.nodes.registerType('eurolite out',{
        category: 'output',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            data_source: {value: "payload"},

            address_start:{value:1, validate:function(v) { return parseInt(v) > 0 && parseInt(v) <= 512 }},

			channel1:{value:-1, validate:validateChannelValue},
            channel2:{value:-1, validate:validateChannelValue},
            channel3:{value:-1, validate:validateChannelValue},
            channel4:{value:-1, validate:validateChannelValue}
        },
        inputs:1,
        outputs:1,
        align: "right",
        icon: "light.png",
        label: function() {
            return this.name || "eurolite";
        },
        oneditprepare: function() {
            var node = this;
            $("#node-input-data_source").change(function(e) {
                var source = $(this).children("option:selected").val();
                $("#node-input-parameter-block")[source === "payload" ? 'hide' : 'show']();
            });

            $("#node-input-data_source").val(node.data_source);
            $("#node-input-data_source").change();
        }
    });
</script>

<script type="text/x-red" data-template-name="eurolite out">
	<div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
     <div class="form-row">
        <label for="node-input-data_source"><i class="icon-tag"></i> Data Source</label>
        <select id="node-input-data_source">
        	<option value="payload">from payload</option>
			<option value="configuration">from configuration</option>
		</select>
    </div>

    <div id="node-input-parameter-block">

		<div class="form-row" id="node-input-parameter-address_start">
			<label for="node-input-address_start"><i class="icon-tag"></i> Address Start</label>
			<input type="text" id="node-input-address_start" placeholder="Address Start value">
		</div>

		<div class="form-row" id="node-input-parameter-channel1">
			<label for="node-input-channel1"><i class="icon-tag"></i> Channel 1</label>
			<input type="text" id="node-input-channel1" placeholder="Channel 1 value">
		</div>

		<div class="form-row" id="node-input-parameter-channel2">
			<label for="node-input-channel2"><i class="icon-tag"></i> Channel 2</label>
			<input type="text" id="node-input-channel2" placeholder="Channel 2 value">
		</div>

		<div class="form-row" id="node-input-parameter-channel3">
			<label for="node-input-channel3"><i class="icon-tag"></i> Channel 1</label>
			<input type="text" id="node-input-channel3" placeholder="Channel 3 value">
		</div>

		<div class="form-row" id="node-input-parameter-channel4">
			<label for="node-input-channel4"><i class="icon-tag"></i> Channel 4</label>
			<input type="text" id="node-input-channel4" placeholder="Channel 4 value">
		</div>

    </div>

</script>

<script type="text/x-red" data-help-name="eurolite out">
	<p>Provides an output node to compose payload for Artnet node in oder to control Eurolite EDX-4R DMX RDM Dimmer pack</p>

	<p>Payload example:</p>
	<pre>
{
    address_start:1,
    channel1:0,
    channel2:0,
    channel3:0,
    channel4:0,
}
	</pre>
</script>