<script type="text/javascript">
    RED.nodes.registerType('auth-config', {
        category: 'config',
        defaults: {	
			username: {value:'144A749C-4359-4D67-97A3-751A1F42F0CF', required:true},
            password: {value:'', required:false},
            credential_type: {value:"Device"}
        },
        label: function () {
            return this.credential_type + ": " + this.username;
        }
    });
</script>

<script type="text/x-red" data-template-name="auth-config">
	<div class="form-row">
     <label for="node-config-input-username"><i class="icon-tag"></i> Username</label>
     <input type="text" id="node-config-input-username">
	</div>
	<div class="form-row">
     <label for="node-config-input-password"><i class="icon-tag"></i> Password</label>
     <input type="password" id="node-config-input-password">
	</div>
	<div class="form-row">
        <label for="node-config-input-credential_type"><i class="icon-tag"></i> Credential Type</label>
        <select type="text" id="node-config-input-credential_type" placeholder="credential_type">
			<option value="Device">Device</option>
		</select>
    </div>
</script>