<script type="text/javascript">
    function validateChannelValue(v) {
        return !isNaN(v) && parseInt(v) >= -1 && parseInt(v) <= 255;
    }

    RED.nodes.registerType('liteputer out',{
        category: 'output',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            data_source: {value: "payload"},

            device_type:{value:"LDX-305A"},

            address_start:{value:1, validate:function(v) { return parseInt(v) > 0 && parseInt(v) <= 512 }},

			channel1:{value:-1, validate:validateChannelValue},
            channel2:{value:-1, validate:validateChannelValue},
            channel3:{value:-1, validate:validateChannelValue},
            channel4:{value:-1, validate:validateChannelValue},
            mode:{value:3, validate:validateChannelValue},
            chaser_speed: {value:-1, validate:validateChannelValue},
            master: {value:-1, validate:validateChannelValue}
        },
        inputs:1,
        outputs:1,
        align: "right",
        icon: "light.png",
        label: function() {
            return this.name || "liteputer";
        },
        oneditprepare: function() {
            var node = this;

            $("#node-input-device_type").change(function(e) {
                var device = $("#node-input-device_type").children("option:selected").val();
                $("#node-input-parameter-channel4")[device === "LDX-405A" ? 'show' : 'hide']();
            });

            $("#node-input-data_source").change(function(e) {
                var source = $(this).children("option:selected").val();
                $("#node-input-parameter-block")[source === "payload" ? 'hide' : 'show']();

                $("#node-input-device_type").val(node.device_type);
                $("#node-input-device_type").change();

//                $("#node-input-mode").val(node.mode);
//                $("#node-input-mode").change();
            });

            $("#node-input-data_source").val(node.data_source);
            $("#node-input-data_source").change();


        }
    });
</script>

<script type="text/x-red" data-template-name="liteputer out">
	<div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
     <div class="form-row">
        <label for="node-input-data_source"><i class="icon-tag"></i> Data Source</label>
        <select id="node-input-data_source">
        	<option value="payload">from payload</option>
			<option value="configuration">from configuration</option>
		</select>
    </div>

    <div id="node-input-parameter-block">

		<div class="form-row" id="node-input-parameter-device_type">
			<label for="node-input-device_type"><i class="icon-tag"></i> Device Type</label>
			<select id="node-input-device_type">
				<option value="LDX-305A">LDX-305A II</option>
				<option value="LDX-405A">LDX-405A II</option>
			</select>
		</div>

		<div class="form-row" id="node-input-parameter-address_start">
			<label for="node-input-address_start"><i class="icon-tag"></i> Address Start</label>
			<input type="text" id="node-input-address_start" placeholder="Address Start value">
		</div>

		<div class="form-row" id="node-input-parameter-channel1">
			<label for="node-input-channel1"><i class="icon-tag"></i> Channel 1</label>
			<input type="text" id="node-input-channel1" placeholder="Channel 1 value">
		</div>

		<div class="form-row" id="node-input-parameter-channel2">
			<label for="node-input-channel2"><i class="icon-tag"></i> Channel 2</label>
			<input type="text" id="node-input-channel2" placeholder="Channel 2 value">
		</div>

		<div class="form-row" id="node-input-parameter-channel3">
			<label for="node-input-channel3"><i class="icon-tag"></i> Channel 1</label>
			<input type="text" id="node-input-channel3" placeholder="Channel 3 value">
		</div>

		<div class="form-row" id="node-input-parameter-channel4">
			<label for="node-input-channel4"><i class="icon-tag"></i> Channel 4</label>
			<input type="text" id="node-input-channel4" placeholder="Channel 4 value">
		</div>

		<div class="form-row" id="node-input-parameter-mode">
			<label for="node-input-mode"><i class="icon-tag"></i> Mode</label>
			<select id="node-input-mode">
<option value="3">Static state black</option>
<option value="10">Static state red</option>
<option value="18">Static state green</option>
<option value="26">Static state blue</option>
<option value="33">Static state yellow</option>
<option value="41">Static state purple</option>
<option value="48">Static state cyan</option>
<option value="56">Static state white</option>
<option value="64">Seven-color skip change</option>
<option value="71">Six-color skip change(exclude white)</option>
<option value="79">Three-color skip change</option>
<option value="87">R+G skip change</option>
<option value="94">R+B skip change </option>
<option value="102">G+B skip change</option>
<option value="110">White frequently twinkling</option>
<option value="117">Seven-color gradual change</option>
<option value="125">Three-color gradual change</option>
<option value="133">R+G gradual change</option>
<option value="140">R+B gradual change</option>
<option value="148">G+B gradual change</option>
<option value="156">Seven-color gradual bright gradual dark</option>
<option value="163">Three-color gradual bright gradual dark</option>
<option value="171">White gradual bright gradual dark</option>
<option value="179">R+G gradual bright gradual dark</option>
<option value="186">R+B gradual bright gradual dark</option>
<option value="194">G+B gradual bright gradual dark</option>
<option value="201">R gradual bright gradual dark</option>
<option value="209">G gradual bright gradual dark</option>
<option value="217">B gradual bright gradual dark</option>
<option value="224">RGB color adjust</option>
			</select>
		</div>


		<div class="form-row" id="node-input-parameter-chaser_speed">
			<label for="node-input-chaser_speed"><i class="icon-tag"></i> Chaser speed</label>
			<input type="text" id="node-input-chaser_speed" placeholder="Chaser speed">
		</div>

		<div class="form-row" id="node-input-parameter-master">
			<label for="node-input-master"><i class="icon-tag"></i> Master</label>
			<input type="text" id="node-input-master" placeholder="Master">
		</div>

    </div>

</script>

<script type="text/x-red" data-help-name="liteputer out">
	<p>Provides an output node to compose payload for Artnet node in oder to control Lite Puter LDX-305A II / LDX-405A II Dimmer pack</p>

	<p>Payload example:</p>
	<pre>
{
    device_type: "LDX-305A",
    address_start:1,
    channel1:0,
    channel2:0,
    channel3:0,
    channel4:0,
    mode:0,
    chaser_speed: 0,
    master: 0
}
	</pre>
</script>