<script type="text/javascript">
    RED.nodes.registerType('Cash Control', {
        category: 'output',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            icon_name: {value: "icon_124_contact.png"},
            url: {value: 'https://app14.gunnebocloud.com/GunneboServices', required: true},

            data_source: {value: "properties", required: true},

            location_id: {value:"0", required:true, validate:RED.validators.number()},
            device_id: {value: "0", required:true, validate:RED.validators.number()},
            application_id: {value: "0", required:true, validate:RED.validators.number()},
            command: {value: "enableDevice", required:true}
        },
        inputs: 1,
        outputs: 0,
        icon: function () {
            return this.icon_name || "icon_124_contact.png";
        },
        label: function () {
            return this.name || "Cash Control";
        },

        oneditprepare: function () {
            var node = this;

            $("#node-input-icon_name").val(this.icon_name);

            $("#node-input-data_source").change(function (e) {
                var source = $(this).children("option:selected").val();
                if (source === "properties") {
                    $("#node-input-parameter-block").show();
                } else {
                    $("#node-input-parameter-block").hide();
                }
            });

            $("#node-input-data_source").val(this.data_source);
            $("#node-input-data_source").change();

            $("#node-input-command").val(this.command);
            $("#node-input-command").change();
        }
    });
</script>

<script type="text/x-red" data-template-name="Cash Control">

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div  class="form-row">
        <label for="node-input-icon_name"><i class="icon-tag"></i> Node Icon</label>
        <select type="text" id="node-input-icon_name" placeholder="icon_name">
<option value="icon_001_bank.png">bank</option>
<option value="icon_002_nationalandcentralbank.png">national and central bank</option>
<option value="icon_003_retailbank.png">retail bank</option>
<option value="icon_004_financialadmin.png">financial admin</option>
<option value="icon_005_retail.png">retail</option>
<option value="icon_006_food.png">food</option>
<option value="icon_007_petrol.png">petrol</option>
<option value="icon_008_fashion.png">fashion</option>
<option value="icon_009_restaurants.png">restaurants</option>
<option value="icon_010_consumerelectronics.png">consumer electronics</option>
<option value="icon_011_luxury.png">luxury</option>
<option value="icon_012_transportation.png">transportation</option>
<option value="icon_013_pharmacy.png">pharmacy</option>
<option value="icon_014_mallconcepts.png">mall concepts</option>
<option value="icon_015_cit.png">cit</option>
<option value="icon_016_bankcit.png">bank cit</option>
<option value="icon_017_retailcit.png">retail cit</option>
<option value="icon_018_cashcenters.png">cash centers</option>
<option value="icon_019_publicadmin.png">public admin</option>
<option value="icon_020_headquarters.png">headquarters</option>
<option value="icon_021_officialbuildings.png">official buildings</option>
<option value="icon_022_hospitals.png">hospitals</option>
<option value="icon_023_schoolsuniversities.png">schools/universities</option>
<option value="icon_024_embassies.png">embassies</option>
<option value="icon_025_highrisksites.png">high risk sites</option>
<option value="icon_026_nuclearandenergy.png">nuclear and energy</option>
<option value="icon_027_chemicals.png">chemicals</option>
<option value="icon_028_military.png">military</option>
<option value="icon_029_factories.png">factories</option>
<option value="icon_030_harbours.png">harbours</option>
<option value="icon_031_airportandmasstransit.png">airport and mass transit</option>
<option value="icon_032_airports.png">airports</option>
<option value="icon_033_metro.png">metro</option>
<option value="icon_034_bussnetworks.png">bus networks</option>
<option value="icon_035_stadias.png">stadions</option>
<option value="icon_036_allsegments.png">all segments</option>
<option value="icon_037_cashhandling.png">cash handling</option>
<option value="icon_038_cashdeposit.png">cash deposit</option>
<option value="icon_039_cashdrawerdeposit.png">cash drawer deposit</option>
<option value="icon_040_cashtransfer.png">cash transfer</option>
<option value="icon_041_depositbags.png">deposit bags</option>
<option value="icon_042_notecounting.png">note counting</option>
<option value="icon_043_cashrecycling.png">cash recycling</option>
<option value="icon_044_closedcashhandling.png">closed cash handling</option>
<option value="icon_045_coindispenser.png">coin dispenser</option>
<option value="icon_046_transactionwindow.png">transaction window</option>
<option value="icon_047_electronicsecurity.png">electronic security</option>
<option value="icon_048_cctv.png">cctv</option>
<option value="icon_049_surveillancecameras.png">surveillance cameras</option>
<option value="icon_050_surveillancerecorder.png">surveillance recorder</option>
<option value="icon_051_electroniclocks.png">electronic locks</option>
<option value="icon_052_integratedsecurity.png">integrated security</option>
<option value="icon_053_accesscontrolsystems.png">access control systems</option>
<option value="icon_054_intrusiondetectionsystems.png">intrusion detection systems</option>
<option value="icon_055_entrancesecurity.png">entrance security</option>
<option value="icon_056_airportsecuritygates.png">airport security gates</option>
<option value="icon_057_antireturngates.png">antireturn gates</option>
<option value="icon_058_boardinggates.png">boarding gates</option>
<option value="icon_059_immigrationgates.png">immigration gates</option>
<option value="icon_060_presecuritygates.png">presecurity gates</option>
<option value="icon_061_electronicarticlesurveillance.png">electronic article surveillance</option>
<option value="icon_062_interlockingdoor.png">interlocking door</option>
<option value="icon_063_revolvingdoor.png">revolving door</option>
<option value="icon_064_securitydoors.png">security doors</option>
<option value="icon_065_automatedslidingdoors.png">automated sliding doors</option>
<option value="icon_066_blastdoors.png">blast doors</option>
<option value="icon_067_bulletproofdoors.png">bulletproof doors</option>
<option value="icon_068_fireresitantdoors.png">fire resistant doors</option>
<option value="icon_069_ramraidattackdoors.png">ramraid attack doors</option>
<option value="icon_070_reinforceddoor.png">reinforced door</option>
<option value="icon_071_tunneldoors.png">tunnel doors</option>
<option value="icon_072_speedgates.png">speed gates</option>
<option value="icon_073_ticketgates.png">ticket gates</option>
<option value="icon_074_turnstiles.png">turnstiles</option>
<option value="icon_075_fullheightturnstiles.png">full height turnstiles</option>
<option value="icon_076_halfheightturnstiles.png">half height turnstiles</option>
<option value="icon_077_shopturnstiles.png">shop turnstiles</option>
<option value="icon_078_tripodturnstiles.png">tripod turnstiles</option>
<option value="icon_079_safesandvaults.png">safes and vaults</option>
<option value="icon_080_basicsafes.png">basic safes</option>
<option value="icon_081_depositsafes.png">deposit safes</option>
<option value="icon_082_firesafes.png">fire safes</option>
<option value="icon_083_datasafes.png">data safes</option>
<option value="icon_084_documentsafes.png">document safes</option>
<option value="icon_085_fireprooffilingcabinets.png">fireproof filing cabinets</option>
<option value="icon_086_highsecuritysafes.png">high security safes</option>
<option value="icon_087_mediumsecuritysafes.png">medium security safes</option>
<option value="icon_088_modularsafes.png">modular safes</option>
<option value="icon_089_modularvaults.png">modular vaults</option>
<option value="icon_090_indoor.png">indoor</option>
<option value="icon_091_outdoor.png">outdoor</option>
<option value="icon_092_safedepositlockers.png">safe deposit lockers</option>
<option value="icon_093_accesscontrolsystems.png">access control systems</option>
<option value="icon_094_automated.png">automated</option>
<option value="icon_095_managementsoftware.png">management software</option>
<option value="icon_096_mechanical.png">mechanical</option>
<option value="icon_097_storagecabinets.png">storage cabinets</option>
<option value="icon_098_vaults.png">vaults</option>
<option value="icon_099_vaultdoors.png">vault doors</option>
<option value="icon_100_vaultrooms.png">vault rooms</option>
<option value="icon_101_securityservices.png">security services</option>
<option value="icon_102_securitylifecyclemanagement.png">security lifecycle management</option>
<option value="icon_103_securitymaintenance.png">security maintenance</option>
<option value="icon_104_securitymonitoring.png">security monitoring</option>
<option value="icon_105_grade.png">grade</option>
<option value="icon_106_locking.png">locking</option>
<option value="icon_107_accessories.png">accessories</option>
<option value="icon_108_depositspeed.png">deposit speed</option>
<option value="icon_109_depositmethod.png">deposit method</option>
<option value="icon_110_capacity.png">capacity</option>
<option value="icon_111_resistance.png">resistance</option>
<option value="icon_112_leafoptions.png">leaf options</option>
<option value="icon_113_doorinfill.png">door infill</option>
<option value="icon_114_flowrate.png">flow rate</option>
<option value="icon_115_detection.png">detection</option>
<option value="icon_116_identificationmethod.png">identification method</option>
<option value="icon_117_standardfrequency.png">standard frequency</option>
<option value="icon_118_detectionrange.png">detection range</option>
<option value="icon_119_certification.png">certification</option>
<option value="icon_120_pdf.png">pdf</option>
<option value="icon_121_cad.png">cad</option>
<option value="icon_122_images.png">images</option>
<option value="icon_123_zip.png">zip</option>
<option value="icon_124_contact.png">contact</option>
<option value="icon_125_contactperson.png">contact person</option>
<option value="icon_126_search.png">search</option>
<option value="icon_127_arrowright.png">arrow right</option>
<option value="icon_128_arrowdown.png">arrow down</option>
<option value="icon_129_noarrow.png">no arrow</option>
<option value="icon_130_findaproduct.png">find a product</option>
<option value="icon_131_spotify.png">spotify </option>
		</select>
    </div>

	<div class="form-row">
        <label for="node-input-url"><i class="icon-tag"></i> URL</label>
        <input type="text" id="node-input-url" placeholder="URL">
    </div>

	<div class="form-row">
        <label for="node-input-data_source"><i class="icon-tag"></i> Data Source</label>
        <select type="text" id="node-input-data_source" placeholder="data_source">
			<option value="payload">from payload</option>
			<option value="properties">from properties</option>
		</select>
    </div>

    <div id=node-input-parameter-block>
	<div class="form-row">
        <label for="node-input-location_id"><i class="icon-tag"></i> Location ID</label>
        <input type="text" id="node-input-location_id" placeholder="location">
    </div>

    <div class="form-row">
        <label for="node-input-device_id"><i class="icon-tag"></i> Device ID</label>
        <input type="text" id="node-input-device_id" placeholder="device">
    </div>

    <div class="form-row">
        <label for="node-input-application_id"><i class="icon-tag"></i> Application ID</label>
        <input type="text" id="node-input-application_id" placeholder="application">
    </div>

    <div class="form-row">
        <label for="node-input-command"><i class="icon-tag"></i> Command</label>
        <select type="text" id="node-input-command" placeholder="command">
			<option value="enableDevice">Enable device</option>
			<option value="disableDevice">Disable device</option>
			<option value="reboot">Reboot</option>
			<option value="restart">Resize</option>
		</select>
    </div>
    </div>

</script>

<script type="text/x-red" data-help-name="Cash Control">
    <pre>
    </pre>
</script>